*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.out

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,cuda

**/CMakeFiles
*.cmake
CMakeCache.txt
detect_cuda_compute_capabilities.cu
detect_cuda_version.cc
Makefile
app
**/build